# Byte-compiled / optimized / DLL files
# Config and cache files
# Distribution / packaging
# Environments
# mypy
*$py.class
*.db
*.egg
*.egg-info/
*.py[cod]
.cache-*
.dmypy.json
.eggs/
.env
.installed.cfg
.mypy_cache/
.session.yml
.venv
.web
__pycache__/
build/
config.yaml
config.yml
dist/
dmypy.json
eggs/
env/
sdist/
venv/
wheels/